In [ ]:
#reindex()
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(9).reshape(3, 3),
                     index=['a','c','d'],
                     columns= ['台北', '台中', '高雄'])
frame

In [ ]:

#選取欄列->subscript,iloc[],loc[]
frame.loc[['a','c'],['台北','台中']]

In [ ]:
#選取欄列->reindex()
frame.reindex(index=['a','c'],columns=['台北','台中'])

In [ ]:
#drop()
df = pd.DataFrame(np.arange(16).reshape(4,4),
                   index=['台北','台中', '台南', '高雄'],
                   columns=['one', 'two', 'three', 'four'])
df

In [ ]:

df.drop(index='台中',columns='four')